

H2{

	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 10vh;
}

H4{

	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 3vh;
}

p{

	font-family: Times New Roman;
	text-align: justify;
font-size: 3vh;
hyphens: auto;
line-height: 4.5vh;
padding-left:3vw;
padding-right:3vw;
}

.lang-en {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.lang-fi {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.lang-sv {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.headline {
    background:none;
    border:none;
    text-justify:right;
    
    margin-left:8vw;
/*
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:3vw;
    */
    cursor: pointer;
}

.exit-button {
    background:none;
    border:none;
    
  margin-left: 0;
    margin-right: 0;
    margin-top:-2vh;
  padding-left:45%;
  padding-top:-20%;


   
    cursor: pointer;
}



.header{
background-color:rgba(255,255,255,0.9);
margin-left:0px;
width:100%;
padding-left:3vw;
padding-right:3vw;
}
.content{
	text-align: justify;
	hyphens:auto;
padding-left:3vw;
padding-right:3vw;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 5px;
}