body {
   	font-family: arial;
	font-style; bold;
	font-size: 24px;
	color: black;
}


h1,h2 {

}


/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: red;
