@import url('https://fonts.cdnfonts.com/css/folio-std');


* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Folio Std', sans-serif;

}

h1,
h2,
h3,
h4 {
  font-size: calc(1em + 6px);

  font-weight: 300;
  line-height: 1.4;
}

h5 {

  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}


/* main content w iframes */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  width: 100%;
  background: white;
  border-bottom: solid 1px;
  z-index: 1000;
  /* Prevent overlap */
}


.nav-container {
  display: flex;
  justify-content: center;
  /* Centers second h1 */
  flex-grow: 1;
  text-align: center;
  left: -5%;
}


.nav-right {

  margin-left: auto;
  padding-right: 18px;
}

.iframe-container {
  width: 100%;
  position: relative;
}

iframe {
  display: block;
  width: 100%;
  /* Full viewport width */
  min-height: 100vh;
  /* Expand iframe to fit full viewport height */
  border: none;
}


footer {

  width: 100%;
  padding-left: 5px;
  margin-top: auto;


}


.footer-content {

  width: 10%;
  /* padding-left:18px; */
  /*border-top: solid 1px; */
}


/* pages*/


.container {
  display: grid;
  grid-template-areas:
    "title content"
    "divider divider"
    "title2 content2"
    "divider2 divider2"
    "title3 content3"
    "divider3 divider3";

  grid-template-columns: 30% 70%;
  gap: 10px;
  padding: 0px;
  margin-top: 75px;
  flex-grow: 1;
}


.container>div {
  background-color: #ffffff;
}

.container>div.title {
  grid-area: title;
  text-align: left;
  border-right: solid 1px;
  padding: 5px;
}

.container>div.title2 {
  grid-area: title2;
  text-align: left;
  border-right: solid 1px;
  padding: 5px;
}

.container>div.title3 {
  grid-area: title3;
  text-align: left;
  border-right: solid 1px;
  padding: 5px;
}

.container>div.content2 {
  grid-area: content2;

}

.container>div.content3 {
  grid-area: content3;

}

.container>div.title,
.container>div.title2,
.container>div.title3 {
  width: 100%;
  text-align: left;
}

.container>div.divider,
.container>div.divider2,
.container>div.divider3 {
  grid-column: 1 / -1;
  /* Make it span across both columns */
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 0px 0;
}

.container>div.divider,
.container>div.divider2,
.container>div.divider3 {
  margin-left: 0;
  margin-right: 0;
}

img {
  max-width: 70%;

}

.content-inner {
  padding: 15px 0px;
  border-bottom: solid 1px;

}

.content-inner-last {
  padding: 15px 0px;


}

.content-text-description {
  max-width: 70%;
}

.content-text {
  margin-top: -15px;
  max-width: 70%;
}


/* Responsive Fix */
@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "title"
      "content"
      "divider"
      "title2"
      "content2"
      "title3"
      "content3";
    grid-template-columns: 1fr;
  }

  img {
    max-width: 100%;
  }

  .content-text-description {
    max-width: 100%;
  }

  .content-text {
    max-width: 100%;
  }

  .nav-right {

    margin-left: auto;
    padding-right: 18px;
  }

  .title,
  .title2,
  .title3 {
    width: 100% !important;
    padding: 5px !important;
    padding-left: 2px !important;
    padding-top: 20px;

  }

  .content-inner {
    padding: 15px 5px;

  }

  .content-inner-last {
    padding: 30px 5px;


  }

  .content,
  .content2,
  .content3 {
    width: 100%;
  }

  .nav-container {
    display: none;

  }


}