h1,h2 {
	font-family: arial;
	font-style; bold;
	font-size: 24px;
	color: black;
}


/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
