/* styles.css */
@import url('https://fonts.cdnfonts.com/css/folio-std');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* Enable scrolling */
  -webkit-font-smoothing:antialiased;
  font-family: 'Folio Std', sans-serif;
}

/* Carousel Container */
#carousel-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Fixed height for the carousel */
  overflow: hidden;
}

/* Carousel Slides */
#carousel {
  display: flex;
  position: absolute;
  width: 500%; /* 5 slides (3 real + 2 clones) */
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  flex: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* Button Styles */
#open-overlay {
  position: fixed; /* Fixed position to stay on screen */
  top: 10px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's on top of other elements */
}

/* Full-Screen Overlay Styles */
/* Full-Screen Overlay Styles */
#overlay {
  position: fixed; /* Covers the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  display: none; /* Hidden by default */
  overflow-y: auto; /* Enable vertical scrolling */
  z-index: 1001; /* Ensure it's on top of other elements */
}

#overlay-content {
  padding: 5vh 4vw;
  text-align: left;
  color: black;
  max-width: 800px; /* Limit the width for better readability */
  margin: 0 auto; /* Center the content horizontally */
}

#overlay-content h1 {
	margin: 0% 0% -1% 0%; 
 	font-weight: 500;
  	font-size: 7vh;
}

#overlay-content p {
  font-weight: 500;
  line-height: 6vh;
  font-size: 4vh;
}

@media (max-width:  767px) {
  #overlay-content {
    padding: 3vh 5vw;
  }

  #overlay-content h1 {
    font-size: 7vh;
  }

  #overlay-content p {
    line-height: 5vh;
    font-size: 4vh;
  }
}
