html, body {
  margin: 0;
  padding: 2;
  font-size: 16px;
  line-height: 1.625;
  color: offwhite;
  font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.masthead {
  margin-left: auto;
  margin-right: auto; 
  margin-top: 0vw;
  width: 100%;
   
}

.recieved {
  margin-left: auto;
  margin-right: auto;  
  margin-top: 80vw;
  width: 50%;
  
}




input {
background-color: rgb(250,250,250);
   border: none;
  border-color: grey;
  
  border-radius: 20px;
  padding-top: 1.5vw;
  padding-left: 1vw;
  padding-bottom: 1.5vw;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 30vw;
  width: 70%;
  font-size: 20px;
  
}
button {
  background-color: rgb(255, 165, 0); 
  border: solid;
  border-radius: 20px;
 
  color: black;
  padding: 2vw 20vw  2vw 20vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vw;
  width: 70%;
 
 

}
canvas {
  display: block;
}
